@model ShoppingCartViewModel

<form method="post">
    <br />
    <div class="card shadow-lg border-0 rounded-4">
        <div class="card-header bg-dark text-light py-4 text-center rounded-top-4">
            <h4 class="fw-bold text-uppercase">Your Shopping Cart</h4>
        </div>
        <div class="card-body p-4">
            @if (Model.Items.Any())
            {
                @foreach (var item in Model.Items)

                {
                    <div class="row mb-4">
                        <div class="col-md-4 text-center">
                            <img src="@item.Product.ImageUrl" class="rounded-3 img-fluid" />
                        </div>
                        <div class="col-md-8">
                            <h5 class="fw-semibold">@item.Product.Title</h5>
                            <p class="text-muted">@item.Product.Artist</p>
                            <div class="d-flex align-items-center gap-3">
                                <h6 class="fw-bold text-info">@item.Price.ToString("c")</h6>
                                <div class="btn-group d-flex align-items-center justify-content-center gap-2" role="group">
                                    <a asp-action="minus" asp-route-cartId="@item.Id" class="btn btn-outline-primary"><i class="bi bi-dash"></i></a>
                                    <span class="fw-bold">@item.Count</span>
                                    <a asp-action="plus" asp-route-cartId="@item.Id" class="btn btn-outline-primary"><i class="bi bi-plus"></i></a>
                                </div>
                            </div>
                            <div class="mt-3">
                                <a asp-action="remove" asp-route-cartId="@item.Id" class="btn btn-outline-danger btn-sm px-3"><i class="bi bi-trash"></i> Remove</a>
                            </div>
                        </div>
                    </div>
                    <hr />
                }
                <div class="d-flex justify-content-between align-items-center">
                    <h5 class="fw-bold text-light text-uppercase">Total:</h5>
                    <h4 class="fw-bold text-light">@Model.OrderHeader.OrderTotal.ToString("c")</h4>
                </div>
            }
            else
            {
                <div class="text-center py-5">
                    <h4 class="text-danger fw-bold">Your cart is empty</h4>
                </div>
            }
        </div>

        <div class="card-footer bg-light text-center rounded-bottom-4 py-3">
            <a asp-area="Customer" asp-controller="Home" asp-action="Index" class="btn btn-secondary px-4">Back to shopping</a>
            <a asp-action="Checkout" class="btn btn-primary px-4 ">Proceed to Checkout</a>
        </div>
    </div>
</form>